

footer {
  background-color: #313461;
  color: #ffffff;
  display: flex;
  flex-direction: column;


  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-bottom: solid 1px #ffffff;
    padding: 20px 40px;

    div {
      display: flex;
      justify-content: center;
      max-width: 360px;
      min-width: 250px;
      height: 250px;
      gap: 20px;
      flex-direction: column;

      @media (max-width: 746px) {
        text-align: center;
        align-items: center;
      }

      img {
        width: 200px;
      }

      h4 {
       font-size: 1.4rem;
       font-weight: 800;
      }
      p {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.714);
      }

      A {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.714);
        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  .copy {
    text-align: center;
    padding: 30px 20px;
    font-size: 1.2rem;

    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }

}