@import './mixins';

header {
  display: flex;
  width: 100%;
  height: auto;
  background: url("../images/bannerHeader.png") no-repeat right / cover;
  padding: 80px 100px;

  @media (max-width: 1110px) {
    justify-content: center;
    background: none;
    padding: 50px 10px ;
  }

  @media (max-width: 750px) {
    padding: 20px 10px ;
  }

  .containner {
    width: 92%;

    @media (max-width: 750px) {
      width: 100%;
    }

    nav {
      display: flex;
      align-items: center;
      min-height:10vh;
      border-radius: 50px;
      background: linear-gradient(to right, #4249a1, #50ad94);
      padding: 0px  60px;

      @media (max-width: 1400px) {
        padding: 0px 30px;
      }

      @media (max-width: 750px) {
        padding: 0px 20px;
      }

      @media (max-width: 400px) {
        padding: 0px 30px;
      }

      div {
        flex: 1;

        img {
          @media (max-width: 750px) {
            height:25px ;
          }

          @media (max-width: 530px) {
            height: 20px ;
          }

          @media (max-width: 416px) {
            height: 30px ;
          }

          @media (max-width: 375px) {
            height: 20px ;
          }

        }
      }

      ul {
        flex: 2;
        display: flex;
        gap: 2.5rem;

        @media (max-width: 1400px) {
          flex: 3;
          padding-left: 50px;
        }

        @media (max-width: 750px) {
          gap: 1.5rem;
        }

        @media (max-width: 530px) {
          gap: 1rem;
          padding-left: 5px;
        }

        @media (max-width: 416px) {
          flex-direction: column;
          gap: 0.3rem;
          text-align: center;
        }

        a {
          color: #fff;
          font-size: 1.6rem;

          @media (max-width: 1400px) {
            font-size: 0.9rem;
          }

          @media (max-width:452px) {
            font-size: 0.8rem;
          }

          @media (max-width:416px) {
            font-size: 0.9rem;
          }
      
        }
      }
    }

    .content {
      padding-top: 100px;

      @media (max-width: 1110px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
      }

      h2 {
        @include title(750px, 4rem);
        @include gradient-text(#4249a1, #4249a1, #50ad94, #50ad94);
      }

      p {
        @include paragrafo(600px, 2.5rem);
        padding: 20px 0px;
      }

      .content-btns {
        display: flex;
        gap: 2rem;
        padding-top: 30px;

        @media (max-width: 1400px) {
          padding-top: 20px;
        }

        @media (max-width: 1250px) {
          flex-direction: column;
          width: 250px;
        }

        @media (max-width: 1110px) {
          width: auto;
          gap: 1rem;
          flex-direction: row;
        }

        @media (max-width: 400px) {
          flex-direction: column;
          align-items: center;
        }

        .btn-agenda, .btn-plus {
          padding: 15px 60px;
          border-radius: 10px;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;

          @media (max-width: 1400px) {
            padding: 15px 20px;
          }
          
          @media (max-width: 530px) { 
            font-size: 1rem;
          }
        }

        .btn-agenda {
          background-color: #1173D4;
          color: #fff;

        }

        .btn-plus {
          background-color: #fff;
          color: #1173D4;
          border: solid 1px #1173D4;
        }
      }
    }
  }
}

