@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

@import "./_header.scss";
@import "./_exames.scss";
@import "./_preventivos.scss";
@import "./_alertas.scss";
@import "./_footer.scss";
